<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сбербанк оценка</title>
</head>
<body>
<h1 style="text-align:center"> Оценка движимого имущества </h1>

{% load static %}
<div align="center">
  
{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile" multiple>
    <button type="submit">Загрузить</button>
  </form>
<p style="color:rgb(54, 168, 102)">{{ response }}</p>
  {% if uploaded_file_url %}
    <p>Успешно загружен файл: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

{% endblock %}
</div>
</body>
</html>


